<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <div id="root">

    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/reactapps/dashboard/2.2d36d59e.chunk.js') }}"></script>
        <script src="{{ url_for('static', filename='js/reactapps/dashboard/main.8d474376.chunk.js') }}"></script>
        <script src="{{ url_for('static', filename='js/reactapps/dashboard/runtime~main.a8a9905a.js') }}"></script>
        <!-- <script type="text/javascript" src="http://localhost:3000/static/js/bundle.js"></script>
        <script type="text/javascript" src="http://localhost:3000/static/js/0.chunk.js"></script>
        <script type="text/javascript" src="http://localhost:3000/static/js/1.chunk.js"></script>
        <script type="text/javascript" src="http://localhost:3000/static/js/main.chunk.js"></script> -->
    {% endblock %}
</body>

</html>